---
import { basics } from "@cv";
import Section from "@/components/Section.astro";
import Mail from "@/icons/Mail.astro";
import Phone from "@/icons/Phone.astro";
import GitHub from "@/icons/GitHub.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import ImageComponent from "@/components/ImageComponent.astro";

const accounts = [
  {
    name: "Paypal",
    service: "Paypal",
    link: "https://paypal.me/iamdev88",
  },
  {
    name: "Nequi",
    service: "Nequi",
    qr: true,
  },
];

const { name, profiles, phone, email } = basics;

const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  LinkedIn,
};

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn");
const linkedUrl = linkedInfo?.url;

const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" • ");
---

<Section title="Contacto" id="section4">
  <div class="flex flex-col items-center gap-2 mt-6">
    <div class="print">
      {printInfo}
    </div>
    <footer class="flex flex-row gap-2 mt-2 no-print">
      {
        email && (
          <div class="flex flex-col items-center">
            <a
              class="bg-enphasis hover:drop-shadow-primary transition"
              href={`mailto:${email}`}
              title={`Enviar correo electronico a ${name} al correo ${email}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Mail />
            </a>
            <span class="network-name text-sm-font">Correo</span>
          </div>
        )
      }
      {
        phone && (
          <div class="flex flex-col items-center">
            <a
              class="bg-enphasis hover:drop-shadow-primary transition"
              href={`tel:${phone}`}
              title={`Llamar a ${name} al telefono ${phone}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Phone />
            </a>
            <span class="network-name text-sm-font">Teléfono</span>
          </div>
        )
      }
      {
        profiles.map(({ network, url, username }) => {
          const Icon = SOCIAL_ICONS[network];
          return (
            <div class="flex flex-col items-center">
              <a
                class="bg-enphasis hover:drop-shadow-primary transition"
                href={`${url}`}
                title={`Mirar perfil de ${username} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon />
              </a>
              <span class="network-name text-sm-font">{network}</span>
            </div>
          );
        })
      }
    </footer>
    <section class="flex flex-col flex-wrap lg:flex-row mt-4 w-full">
      <div class="w-full text-center py-2">
        <span
          class="text-md-font drop-shadow-enphasis uppercase mb-1 md:font-medium mt-2"
          >Invitame un café</span
        >
      </div>
      <div
        class="flex flex-wrap flex-col md:flex-row gap-2 w-full justify-around items-center"
      >
        {
          accounts.map((account) => (
            <div class="transition flex flex-row dsm:flex-col flex-wrap justify-center items-center w-[100%] md:w-[28%] min-h-[90px] text-normal text-center my-2 shadow-3xl bg-txtbg1">
              <div class="grow text-bold text-md-font">
                {account.link ? (
                  <a
                    href={account.link}
                    target="_blank"
                    rel="noopener noreferrer"
                    class="bg-enphasis drop-shadow-theme px-3 py-1 rounded hover:drop-shadow-primary transition"
                  >
                    {account.name}
                  </a>
                ) : (
                  ""
                )}
                {account.qr && (
                  <ImageComponent
                    classes="max-w-[200px] mx-auto"
                    imageName={
                      account.service.toLowerCase().replace(" ", "_") +
                      "qr.jpeg"
                    }
                  />
                )}
              </div>
              <div class="flex flex-col gap-4 mt-4 bg-primary rounded px-2 py-1">
                <ImageComponent
                  classes="max-h-[40px]"
                  imageName={
                    account.service.toLowerCase().replace(" ", "_") + ".png"
                  }
                />
              </div>
            </div>
          ))
        }
      </div>
    </section>
  </div>
</Section>

<style>
  img {
    aspect-ratio: 1 / 1;
  }
  footer a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
</style>
