---
import Section from "../Section.astro";
import Projects from "./Projects.astro";
import { work } from "@cv";
---

<Section title="Experiencia" id="section2">
    <ul>
      {
        work.map(({ name, position, startDate, endDate, highlights }) => {
          const start = new Date(startDate);
          const end = endDate !=null ? new Date(endDate) : new Date(); // Usa la fecha actual si no hay fecha de finalización
          const monthsDiff = (end.getFullYear() - start.getFullYear()) * 12 + (end.getMonth() - start.getMonth());
          const years = Math.floor(monthsDiff / 12);
          const months = monthsDiff % 12;
          let durationString = "";
  
          if (years > 0) {
            durationString += years === 1 ? "1 año" : `${years} años`;
          }
  
          if (months > 0) {
            durationString += durationString ? " y " : "";
            durationString += months === 1 ? "1 mes" : `${months} meses`;
          }
          return (
            <li>
              <article>
                <header class="flex justify-between items-center mb-2">
                  <div>
                    <h3>{name}</h3>
                    <h4 class="text-sm-font md:text-md-font">{position}</h4>
                  </div>
                  <p class="flex flex-col text-right font-bold text-dsm-font md:text-md-font">
                    <time>{durationString}</time>
                    <span>
                      {startDate} <br /> {endDate ? endDate : "Actual"}
                      </span>
                  </p>
                </header>
                <footer class="flex flex-col text-md-font">
                <ul class="flex flex-col gap-2">
                  {highlights.map((highlight) => {
                    return <li class="list-disc ml-4">{highlight}</li>;
                  })}
                </ul>
              </footer>
              </article>
            </li>
          );
        })
      }
    </ul>
  <Projects></Projects>
</Section>