---
import { basics } from "@cv";
import Section from "@/components/Section.astro";
import Mail from "@/icons/Mail.astro";
import Phone from "@/icons/Phone.astro";
import GitHub from "@/icons/GitHub.astro";
import LinkedIn from "@/icons/LinkedIn.astro";
import WorldMap from "@/icons/WorldMap.astro";

const { name, label, image, location, profiles, phone, email } = basics;
const { city, region, countryCode } = location;

const SOCIAL_ICONS: Record<string, any> = {
  GitHub,
  LinkedIn,
};

const linkedInfo = profiles.find(({network})=>network==="LinkedIn")
const linkedUrl = linkedInfo?.url

const printInfo = [email,phone,linkedUrl].filter(Boolean).join(" • ")
---

<Section id="section1">
  <div class="flex flex-col items-center pt-[8vh] sm:pt-[4vh]">
    <figure>
      <img src={image} alt={name} class="w-[128px] sm:w-[200px] rounded opacity-90 drop-shadow-theme" />
    </figure>
    <div class="flex flex-col items-center gap-y-2 text-center">
      <h1 class="text-primary font-bold text-lg-font drop-shadow-theme sm:text-lg-font-sm">{name}</h1>
      <h2 class="text-enphasis text-md-font font-medium drop-shadow-primary sm:text-md-font-sm">{label}</h2>
      <span class="flex items-center gap-1 text-sm-font text-primary bg-enphasis p-1 px-2 rounded drop-shadow-theme">
        <WorldMap />
        {city}, {region} &bull; {countryCode}
      </span>
      <div class="print">
          {printInfo}
      </div>
      <footer class="flex flex-row gap-2 mt-2 no-print">
        {
          email && (
            <a
            class="bg-enphasis drop-shadow-theme hover:drop-shadow-primary transition"
              href={`mailto:${email}`}
              title={`Enviar correo electronico a ${name} al correo ${email}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Mail />
            </a>
          )
        }
        {
          phone && (
            <a
            class="bg-enphasis drop-shadow-theme hover:drop-shadow-primary transition"
              href={`tel:${phone}`}
              title={`Llamar a ${name} al telefono ${phone}`}
              target="_blank"
              rel="noopener noreferrer"
            >
              <Phone />
            </a>
          )
        }
        {
          profiles.map(({ network, url, username }) => {
            const Icon = SOCIAL_ICONS[network];
            return (
              <a
              class="bg-enphasis drop-shadow-theme hover:drop-shadow-primary transition"
                href={`${url}`}
                title={`Mirar perfil de ${username} en ${network}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Icon />
              </a>
            );
          })
        }
      </footer>
    </div>
    
  </div>
</Section>

<style>
  footer a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
</style>
