---
interface Props {
  title: string;
}

const { title } = Astro.props;

import { basics } from "@cv";
const { summary, name } = basics;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={summary} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
    name="description"
    content={summary}
  />
  <meta
    name="keywords"
    content="comunidad, raid, dominion, tools, addon, world, warcraft, 3.3.5a, macro, ayuda, compacto, fácil"
  />
  <meta name="robots" content="index, follow" />
  <meta name="author" content="Andrés Muñoz" />
  <meta name="language" content="es" />
  <meta name="revisit-after" content="7 days" />
  <link rel="canonical" href="https://iamgamecode.netlify.app/" />
  <!-- Open Graph Meta Tags -->
  <meta property="og:title" content={`${title} • ${name}`} />
  <meta
    property="og:description"
    content={summary}
  />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://iamgamecode.netlify.app/" />
  <meta
    property="og:image"
    content="https://iamgamecode.netlify.app/logo.png"
  />
  <meta
    property="og:site_name"
    content={`${title} • ${name}`}
  />
  <meta property="og:locale" content="es_ES" />

  <!-- Twitter Card Meta Tags -->
  <meta name="twitter:card" content="summary_large_image" />
  <meta
    name="twitter:title"
    content={`${title} • ${name}`}
  />
  <meta
    name="twitter:description"
    content={summary}
  />
  <meta
    name="twitter:image"
    content="https://iamgamecode.netlify.app/logo.png"
  />
  <!-- <meta name="twitter:site" content="@tu_usuario" /> -->

  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <link rel="stylesheet" href="/styles/global.css" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} &bull; {name}</title>
    <style>
      
    </style>
  </head>
  <body>
    <slot />
    <button
      id="back-to-top"
      class="fixed bottom-4 right-4 text-white p-2 rounded-full hidden"
      aria-label="Volver arriba"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="h-6 w-6"
        fill="none"
        viewBox="0 0 24 24"
        stroke="currentColor"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M5 10l7-7m0 0l7 7m-7-7v18"></path>
      </svg>
    </button>
    <script src="/scripts/global.js" is:inline></script>
  </body>
</html>
